
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
  }
  
  .modal.show {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  
  
  .modal-dialog {
    width: 100%;
    max-width: 700px;
    height: 70vh;
    margin: auto;
    padding: 2rem;
    transition: transform 0.2s ease-out;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .modal.fade .modal-dialog {
    transform: translateY(-20px);
  }
  
  .modal.show .modal-dialog {
    transform: translateY(0);
  }
  
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1040;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal.show .modal-backdrop {
    opacity: 1;
    visibility: visible;
  }
  
 
  .modal-content {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
  }
  
  /* Corpo do modal (adicionando mais espaçamento) */
  .modal-body {
    padding: 1rem; 
    display: flex; 
    gap: 1rem; 
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .modal-body > div {
    flex: 0.5;
    min-width: 100px; 
    box-sizing: border-box;
  }
  
  .modal-body input,
  .modal-body select,
  .modal-body textarea {
    width: 100%;
    padding: 0.35rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
  }
  

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem; /* Aumentando o padding do cabeçalho */
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 12px 12px 0 0;
  }
  
  .modal-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
  }
  
  /* Rodapé do modal */
  .modal-footer {
    padding: 1.5rem 2rem; /* Aumentando o padding do rodapé */
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 0 0 12px 12px;
  }
  
  .modal-footer .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #5fa6ec;
    color: white;
    transition: background-color 0.3s ease-in-out;
  }
  
  .modal-footer .btn:hover {
    background-color: #4a94d5;
  }
  