<!-- src/app/usuario/usuario.component.html -->
<div class="container mt-5">
  <h2>Cadastro de Usuários</h2>
  <form [formGroup]="formUsuario" (ngSubmit)="cadastrar()">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input 
        type="text" 
        class="form-control" 
        id="nome" 
        placeholder="Digite o nome" 
        formControlName="nome">
      <div *ngIf="formUsuario.get('nome')?.invalid && formUsuario.get('nome')?.touched" class="text-danger">
        Nome é obrigatório
      </div>
    </div>
    
    <div class="mb-3">
      <label for="cpf" class="form-label">CPF:</label>
      <input 
        type="text" 
        class="form-control" 
        id="cpf" 
        placeholder="Digite o CPF" 
        formControlName="cpf" mask="000.000.000-00">
      <div *ngIf="formUsuario.get('cpf')?.invalid && formUsuario.get('cpf')?.touched" class="text-danger">
        CPF é obrigatório e deve ter entre 11 e 14 caracteres
      </div>
    </div>
    
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select 
        class="form-select" 
        id="status" 
        formControlName="status">
        <option value="A">A</option>
        <option value="I">I</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  
  <hr class="my-5" />
  
  <h3>Usuários Cadastrados</h3>
  <div *ngIf="usuarios.length === 0" class="alert alert-info">
    Nenhum usuário cadastrado ainda.
  </div>
  <table *ngIf="usuarios.length > 0" class="table table-bordered" id="tabelaUsuarios">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Status</th>
        <th>Data Criação</th>
        <th>Data Atualização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.cpf }}</td>
        <td>
          <span [ngClass]="{
            'badge bg-success': usuario.status === 'A',
            'badge bg-danger': usuario.status === 'I'
          }">
          {{ usuario.status === 'A' ? 'Ativo' : 'Inativo' }}
        </span>
        </td>
        <td>{{ usuario.dataCriacao | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ usuario.dataAtualizacao | date:'dd/MM/yyyy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
</div>